%h1
  = @character['name']
  %small= @character['realm']

%table.table
  %thead
    %tr
      %td Property Name
      %td Value
  %tbody
    %tr
      %td Class
      %td Monk
    %tr
      %td Class
      %td Monk
    %tr
      %td Class
      %td Monk
